*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #D2D2D2;
    background-image:
    repeating-linear-gradient(
        to right, transparent 0 200px,
        #25283b22 100px 101px
    ),
    repeating-linear-gradient(
        to bottom, transparent 0 100px,
        #25283b22 100px 101px
    );
}

body::before{
    position: absolute;
    width: min(400px, 50vw);
    top: 7%;
    left: 50%;
    height: 90%;
    transform: translateX(-50%);
    background-image: url(images/bg.png);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top center;
    pointer-events: none;
}

/************nose***********/
.appNa{
    width: 100%;
    height: 70vh;
    text-align: center;
    overflow: hidden;
    position: relative;
}
.appNa .slider{
    position: absolute;
    width: 110px;
    height: 250px;
    top: 10%;
    left: calc(50% - 100px);
    transform-style: preserve-3d;
    transform: perspective(1000px);
    animation: autoRun 26s linear infinite;
    z-index: 2;
}
@keyframes autoRun{
    from{
        transform: perspective(1000px) rotateX(-10deg) rotateY(0deg);
    }to{
        transform: perspective(1000px) rotateX(-10deg) rotateY(360deg);
    }
}

.appNa .slider .item{
    position: absolute;
    inset: 0 0 0 0;
    transform: 
        rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
        translateZ(300px);
}
.appNa .slider .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.appNa .content{
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: min(100%, 100vw);
    height: max-content;
    padding-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    z-index: 1;
}
@media screen and (max-width: 1023px) {
    .appNa .slider{
        width: 160px;
        height: 200px;
        left: calc(50% - 80px);
    }
    .appNa .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(300px);
    }
    
}
@media screen and (max-width: 767px) {
    .appNa .slider{
        width: 100px;
        height: 150px;
        left: calc(50% - 50px);
    }
    .appNa .slider .item{
        transform: 
            rotateY(calc( (var(--position) - 1) * (360 / var(--quantity)) * 1deg))
            translateZ(180px);
    }
    .appNa .content h1{
        font-size: 5em;
    }
}